@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url(../public/fonts/roboto-latin-400-normal.woff) format("woff");
  }

  @font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url(../public/fonts/roboto-latin-ext-400-normal.woff) format("woff");
  }

  @font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url(../public/fonts/roboto-latin-500-normal.woff) format("woff");
  }

  @font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url(../public/fonts/roboto-latin-ext-500-normal.woff) format("woff");
  }

  @font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url(../public/fonts/roboto-latin-700-normal.woff) format("woff");
  }

  @font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url(../public/fonts/roboto-latin-ext-700-normal.woff) format("woff");
  }

  html {
    font-family: "Roboto", system-ui, sans-serif;
    @apply bg-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-dark;
  }

  h1 {
    @apply text-3xl
           font-bold
           m-0;
  }

  h2 {
    @apply text-2xl
           font-bold
           mb-4;
  }

  h3 {
    @apply text-lg
           font-medium
           mb-5;
  }
}