.header-container {
	width: 100vw;
	background-color: var(--color-light);
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  padding: 20px;
}

.header {
	font-weight: 700;
}